.room-page {
  min-height: 100vh;
  padding: 2rem;
  //   background-color: #1a1b1e;
  //   color: #ffffff;

  .error-message {
    background-color: $error-red;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  .video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 1rem;

    .video-grid {
      grid-template-columns: 1fr;
    }

    .room-info {
      h1 {
        font-size: 2rem;
      }
    }
  }
  .room-info {
    display: grid;

    text-align: center;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 12px;
    // backdrop-filter: blur(8px);
    // background-color: $light-gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.dark-mode {
      color: $white;
      background-color: $text-dark-gray;
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      background: linear-gradient(45deg, $deep-purple, $indigo);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      margin: 0.5rem 0;

      &.room-host {
        font-weight: bold;
      }

      &.room-id {
        font-weight: bold;
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 0.5em;

        @media (max-width: 700px) {
          button {
            height: 24px;
            width: 20px;
          }
        }

        span {
          //   font-weight: bold;

          color: $sky;
        }
      }
    }
  }
}
