.members-list-container {
  max-width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .member {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 6px;
    transition: background 0.2s;

    &:hover {
      background: #f5f5f5;
    }

    &.host {
      background: $light-blue-white;
      border: 1px solid #91caff;
      &:hover {
        background-color: darken($light-blue-white, 5%);
      }
      // add a little host badge
      &::after {
        content: 'Host';
        margin-left: auto;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        background: $zoom-blue-darker;
        padding: 2px 6px;
        border-radius: 12px;
      }
    }

    &.logged-user {
      background: $creme;

      // subtle badge
      &::after {
        content: 'You';
        margin-left: auto;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        background: $zoom-blue-darker;
        padding: 2px 6px;
        border-radius: 12px;
      }
    }
    &.logged-user.host {
      background: $creme;

      // subtle badge
      &::after {
        content: 'You (Host)';
        margin-left: auto;
        font-size: 10px;
        font-weight: bold;
        color: #ffffff;
        background: $zoom-blue-darker;
        padding: 2px 6px;
        border-radius: 12px;
      }
    }

    .member-img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
      flex-shrink: 0;
    }

    .member-name {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      color: #333;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &.dark-mode {
    background: $very-dark-gray;
    border-color: #333;

    ul {
      li {
        &:hover {
          background-color: darken($very-dark-gray, 5%);
        }
        &.host {
          color: #fff;
          background: $bold-navy;
          border-color: $bold-navy-lighter;
          &:hover {
            background-color: darken($bold-navy, 5%);
          }
        }

        &.logged-user {
          background: $bold-navy-lighter;
        }

        &.logged-user.host {
          background: $bold-navy;
        }
        .member-name {
          color: #fff;
        }
      }
    }
  }
}
