.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 600px;
  min-height: 300px;
  margin: 0 auto;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &.dark-mode {
    background-color: $mid-dark-gray;
    // color: $white;
    border: 1px solid $very-dark-gray;
    // border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
    // border-radius: 0;
  }
}
