.video-container {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  // background-color: #2a2b2e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 1200px;
  width: 100%;
  justify-self: center;

  // &:hover {
  //   //   transform: translateY(-1px);
  // }

  // Maintain 16:9 aspect ratio
  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  .mute-container {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
    background-color: $white;
    background-color: $light-gray;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    svg {
      width: 2rem;
      height: 2rem;

      // cursor: pointer;
      transition: fill 0.2s ease;
      fill: $dark-red;

      // &:hover {
      // }
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #000000;
  }

  .video-off {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: calc(100% - 4rem);
    height: 100%;
    display: grid;

    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 1;

    img {
      width: 30%;
      border-radius: 15px;

      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); // glow effect
      // border: 2px solid rgba(255, 255, 255, 0.8); // subtle white border
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    }
  }
  &:hover {
    img {
      box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
      transform: scale(1.025); // zoom on hover
    }
  }
  .label {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    //   background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.5rem 1rem;
    padding: 1% 4%;
    max-width: 180px;
    @media (max-width: 600px) {
      padding: 0.25rem 0.5rem;
    }
    border-radius: 35px;
    font-size: 0.9rem;
    backdrop-filter: blur(4px);
    z-index: 2;
  }

  &.remote {
    border: 2px solid $dark-gray;

    &.dark-mode {
      border: 2px solid $white;
    }

    .label {
      background: linear-gradient(90deg, $dark-gray, $very-dark-gray);
    }
  }
  &.local {
    border: 2px solid $teal;

    .label {
      background: linear-gradient(90deg, $teal, $sky);
    }
  }
  &.host {
    border: 2px solid $deep-purple;

    video {
      transform: scaleX(-1);
    }

    .label {
      background: linear-gradient(90deg, $deep-purple, $indigo);
    }
  }

  .buttons-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0.8rem 1rem 0.5rem;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 0.9rem;
    z-index: 1;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0;

    button {
      background: $btn-bg;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 0.875rem;
      cursor: pointer;
      transition: background 0.2s ease, transform 0.1s ease;

      &:hover {
        background: $btn-hover;
      }
      &:active {
        background: $btn-active;
        transform: scale(0.96);
      }

      .icon {
        font-size: 1.2rem;

        transition: color 0.2s ease;
      }
      &:hover {
        .icon {
          color: var(--hover-color);
        }
      }
    }
  }
  &.self:hover {
    .buttons-container {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
